.sticky-header {
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: background-color 0.2s ease;
    z-index: 100;
    nav{
        display: flex;
        height: 70px;
    align-items: center;
        h2{
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
            font-size: 24px;
            padding:0 15px;
        }
    }
  }
  
  .sticky-header.colored {
    background-color: #1A193E;
  }
  